@epm:registry=https://grupoepm.pkgs.visualstudio.com/_packaging/org-epm-artefactos%40Local/npm/registry/
always-auth=true
# ; begin auth token
# //grupoepm.pkgs.visualstudio.com/_packaging/org-epm-artefactos%40Local/npm/registry/:username=grupoEPM
# //grupoepm.pkgs.visualstudio.com/_packaging/org-epm-artefactos%40Local/npm/registry/:_password=${NPM_TOKEN}
# //grupoepm.pkgs.visualstudio.com/_packaging/org-epm-artefactos%40Local/npm/registry/:email=npm requires email to be set but doesnot use the value
# //grupoepm.pkgs.visualstudio.com/_packaging/org-epm-artefactos%40Local/npm/:username=grupoEPM
# //grupoepm.pkgs.visualstudio.com/_packaging/org-epm-artefactos%40Local/npm/:_password=${NPM_TOKEN}
# //grupoepm.pkgs.visualstudio.com/_packaging/org-epm-artefactos%40Local/npm/:email=npm requires email to be set but doesnot use the value
# ; end auth token
